mixin feature(args={})
    div.feature
        div.feature__sale
            span.feature__discount=args.discount
            img(src=args.favourite, alt="favourite").feature__favourite
        a(href="#") 
            img(src=args.img, alt="feature").feature__img
        div.feature__content
            span.feature__stock=args.stock
            a(href="#").feature__text=args.text
            span.feature__price=args.price
        div.feature__basket
            button.feature__minus
                img(src=args.minus, alt="minus")
            span.feature__number=args.number
            button.feature__plus
                img(src=args.plus, alt="plus")
            button.feature__basket-btn
                img(src=args.basket, alt="basket")
        