mixin values(args={})
    div.values-one
        img(src=args.img, alt="values").values-one__img
        div.values-one__text  
            span.values-one__item=args.item
            span.values-one__discount=args.discount
            button.values-one__button SHOP NOW
mixin values_two(args={})
    div.values-two
        img(src=args.img, alt="values").values-two__img
        div.values-two__text
            span.values-two__item=args.item
            button.values-two__button USE CODE: COMBOSUPERR2A